// _contact.scss
#contact{
	height: 100%;
	z-index: 6;
	background-color: #fff;
	padding: 15px;
	width: 100%;
}
#contact h1{
	text-align: center;
	font-size: 28px;
}
#contact p{
	text-align: center;
}