@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_about.scss */
#about {
  height: 100%;
  z-index: 5;
  background-color: #fff;
  padding: 15px;
  position: absolute;
  width: 100%;
}

/* line 10, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_about.scss */
#about p {
  margin-bottom: 5px;
}

/* line 13, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_about.scss */
#about ul {
  margin-left: 20px;
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
h4 {
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 1.5em;
}

/* line 9, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.open {
  margin-top: 5px;
  height: calc(100% - 15px);
}

/* line 13, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
#index {
  display: none;
}

/* line 16, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.info {
  border-top: 1px solid #e7e7e7;
  padding: 15px;
}

/* line 20, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.info ul {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  list-style-type: none;
}

/* line 26, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.info li {
  line-height: 27px;
}

/* line 29, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.description {
  color: #333;
  font-size: 14px;
  padding-bottom: 10px;
}

/* line 34, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.title {
  color: #ef4836;
  font-size: 1.1em;
}

/* line 38, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.time {
  color: #333;
  font-size: .9em;
}

/* line 43, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.hide {
  display: none;
}

/* line 46, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar.scss */
.lg {
  font-size: 20px;
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.list {
  height: 100%;
  overflow-y: auto;
}

/* line 6, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.list-title {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px 10px 15px;
  display: none;
}

/* line 13, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.bar {
  height: 50px;
  background-color: #FFF;
  box-sizing: border-box;
  border-top: 1px solid #e3e3e3;
  color: #333;
  display: none;
}

/* line 21, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.bar-open {
  height: calc(100% - 45px);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 28, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.bar-header {
  height: 50px;
  box-sizing: border-box;
  padding-top: 3px;
}

/* line 33, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.bar:last-child {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

/* line 39, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.bar-icon {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  color: #ef4836;
  padding-top: 12px;
}

/* line 46, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.bar-title {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding-top: 9px;
  line-height: 15px;
}

/* line 53, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.distance {
  padding-right: 15px;
  font-size: 10px;
  font-weight: bold;
}

/* line 59, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.event {
  color: #f1c40f !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 65, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_bar-list.scss */
.event .bar-icon {
  color: #f1c40f !important;
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_btn.scss */
button {
  border-color: #D54030 !important;
}

/* line 5, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_btn.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #D54030 !important;
  background-image: none;
  padding: 15px 16px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ef4836 !important;
  color: #FFF;
  width: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 1px 3px 3px -2px rgba(120, 120, 120, 0.6);
  -moz-box-shadow: 1px 3px 3px -2px rgba(120, 120, 120, 0.6);
  box-shadow: 1px 3px 3px -2px rgba(120, 120, 120, 0.6);
}

/* line 26, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_btn.scss */
.btn-alt {
  margin-top: 25px;
  background-color: #FFF;
  color: #333;
  border-color: #e7e7e7;
  -webkit-box-shadow: 1px 3px 3px -2px rgba(120, 120, 120, 0.6);
  -moz-box-shadow: 1px 3px 3px -2px rgba(120, 120, 120, 0.6);
  box-shadow: 1px 3px 3px -2px rgba(120, 120, 120, 0.6);
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_contact.scss */
#contact {
  height: 100%;
  z-index: 6;
  background-color: #fff;
  padding: 15px;
  width: 100%;
}

/* line 9, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_contact.scss */
#contact h1 {
  text-align: center;
  font-size: 28px;
}

/* line 13, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_contact.scss */
#contact p {
  text-align: center;
}

@font-face {
  font-family: 'League Gothic';
  src: url("leaguegothic-regular-webfont.eot");
  src: url("leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-regular-webfont.woff") format("woff"), url("leaguegothic-regular-webfont.ttf") format("truetype"), url("leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_general.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 19, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_general.scss */
body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

/* line 25, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_general.scss */
.max-height {
  height: 100%;
}

/* Foundation Related */
/* line 31, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_general.scss */
.main-section {
  height: calc(100% - 55px);
}

/* line 34, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_general.scss */
.right-small {
  border-left: 0px !important;
}

/* line 38, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_general.scss */
.container {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden;
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.nav {
  background-color: #ef4836 !important;
  box-sizing: border-box;
  border-bottom: 1px solid #c0392b;
  font-family: 'Open Sans', sans-serif !important;
}

/* line 8, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.nav-highlight {
  background-color: #d54030;
  height: 10px;
}

/* line 12, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.nav-menu {
  height: 39px;
  padding: 8px 15px 10px 15px;
}

/* line 16, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.burger {
  color: #FFF;
  float: right;
  line-height: 1.1em !important;
}

/* line 21, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.back {
  color: #FFF;
  font-size: 14px;
  padding-left: 10px;
  display: none;
}

/* line 27, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.back:hover, .back:focus {
  color: #FFF;
}

/* line 30, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav.scss */
.banner {
  font-family: 'League Gothic';
  color: #FFF;
  font-size: 32px;
  margin-top: -2px;
  line-height: 1em;
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.nav-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 45px;
  box-sizing: border-box;
  background-color: #ef4836;
  border-top: 1px solid #c0392b;
  display: none;
}

/* line 13, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.icon-desc {
  font-size: 12px;
  position: absolute;
  margin-top: -4px;
  margin-left: -14px;
}

/* line 19, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.help {
  text-align: right;
  color: #FFF;
  padding-top: 6px;
}

/* line 24, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.help i {
  padding-right: 10px;
}

/* line 27, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.help-list {
  width: 150px;
  height: 85px;
  border: 1px solid #ef4836;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  right: 5px;
  background-color: #FFF;
  opacity: 0;
}

/* line 38, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.help-list ul {
  list-style-type: none;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
}

/* line 44, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.help-list li {
  border-bottom: 1px solid #e7e7e7;
}

/* line 47, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_nav-bottom.scss */
.help-event {
  color: #f1c40f;
}

/* line 2, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
.search-container {
  height: 100%;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

/* line 7, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
.search-content {
  position: relative;
  top: 42%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 14, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
#search-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: calc(100% - 50px);
}

/* line 21, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
.legend {
  color: #999999;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 28, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
.select-style {
  border-radius: 2px;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
  margin-bottom: 25px;
  background: white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

/* line 37, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
.select-style select {
  width: 100%;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  color: #ef4836;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

/* line 52, C:/Users/Jonathan/Desktop/Drinks Redesign 11-23-14/sass/components/_search.scss */
.select-style select:focus {
  outline: none;
}
